@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.tab-header--current-tab {

}

.md-text a {
  text-decoration: underline;
}

.md-text h6 {
  text-align: center;
  font-size: 0.75rem;
}
.md-text img {
  display: inline;
  margin: auto 0.5rem;
}

.c-menu a {
  user-select: none;
  -webkit-user-drag: none;
}